@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full w-full bg-black text-white overflow-x-hidden;
    font-family: 'Space Grotesk', sans-serif;
  }

  #root {
    @apply min-h-screen flex flex-col;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #111;
}
::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 4px;
}